{% extends 'layout.html' %}
{% block title %}Просмотр изображения{% endblock %}
{% block content %}
    <div class="row align-self-center image-desc">
      <div class="col-md-6">
        <h4><b>{{image.name}}</b></h4>
        <small>by: <a href="/user/{{image.username}}">{{ image.username }}</a> {{image.date}}</small>
      </div>
      {%if user.username == image.username or user.privileges < 2 %}
      <div class="col-md-6" align="right">
        <form action="/image/{{image.id}}" method="POST">
          <button class="btn btn-danger" type="submit" name = "delete"> Удалить </button> 
        </form>
      </div>
      {%endif%}
    </div>
    <div class="row">
      <div class="col">
        <a href="/images/{{image.addr}}" title="Открыть оригинал">
          <img src="/resize/{{ image.addr }}" class="img-fluid mx-auto d-block">
        </a>
      </div>
    </div>
    {%for image in image.extras:%}
    <div class="row">
      <div class="col">
        <a href="/images/{{image.addr}}" title="Открыть оригинал">
          <img src="/resize/{{ image.addr }}" class="img-fluid mx-auto d-block" style="padding: 1%">
        </a>
      </div>
    </div>
    {%endfor%}
    <div class="row">
      <div class="col-md-6 align-self-center image-desc">
        <p>{{image.note}}</p>
      </div>
    </div>
{% endblock %}
